@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

:root {
    --primary: #00abd6;
}

body {
    background: #faf7f7;
    font-family: 'Sen', sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
}

.main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1px;
    list-style: none;
}

.icon {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    filter: drop-shadow(rgba(0, 0, 0, 0.3) 8px 8px 5px);
    cursor: pointer;
    color: var(--primary);
}

.iconLink {
    color: var(--primary);
}

.ripple {
    background-position: center;
    transition: background 0.8s;
  }
.ripple:hover {
    background: var(--primary) radial-gradient(circle, transparent 1%, var(--primary) 1%) center/15000%;
}
.ripple:active {
    filter: brightness(.8);
    background-size: 100%;
    transition: background 0s;
}
  
button {
    border: none;
    border-radius: 10px;
    padding: 8px 18px;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
    color: white;
    background-color: var(--primary);;
    box-shadow: 0 0 4px #999;
    outline: none;
}
